<h2>Cart</h2>
<section *ngIf="products">
    <ul class="list-group list-group-flush">
        <div *ngFor="let product of products" class="list-group-item ">
            <div class="row">
                <div class="col-sm-8">
                    <a routerLink="/product-detail/{{product.id}}">{{product.name}}</a>
                </div>
                <div class="col-sm-4">
                    Hypothetical Price: {{product.price}}
                </div>
            </div>
        </div>
    </ul>
    <button type="button" class="btn btn-primary btn-lg" (click)="clearCart()">Delete cart contents</button>
</section>