<h2>Product Categories</h2>
<ul class="product-categories">
    <li *ngFor="let productCategory of productCategories" (click)="onSelect(productCategory)">
        <span class="badge">{{productCategory.id}}</span> {{productCategory.name}}
    </li>
</ul>
<div *ngIf="selectedProductCategory">
    <h2>{{selectedProductCategory.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedProductCategory.id}}</div>
    <div>
        <label>name: {{selectedProductCategory.name}}</label>
    </div>
</div>