<h2>Product List</h2>
<ul class="product-categories">
    <li *ngFor="let category of allProducts | keyvalue">
        <ul class="product-list">
            <li *ngFor="let product of category.value" (click)="onSelect(product)">
                <span class="badge">{{product.id}}</span> {{product.name}} <br>
            </li>
        </ul>
    </li>
</ul>
<div *ngIf="selectedProduct">
    <h2>{{selectedProduct.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedProduct.id}}</div>
    <div>
        <label>name: {{selectedProduct.name}}</label>
    </div>
</div>