<h2>This is a proof of concept of a webshop in angular</h2>
<p><strong>You can't actually buy anything</strong>, nor are there any real products here. This is just an experiment
    for me to learn and
    demonstrate angular. You'll find the code <a href="https://github.com/brogli/angular-shop-poc">here</a>.</p>
<h3>How to use this?</h3>
<ul>
    <li>Assume you've sucessfully logged into your hypothetical account.</li>
    <li>You then want to browse some products starting from
        the categories listed on the left. </li>
    <li>Once you've found a product that you would want to buy (hypothetically), you add it to the cart or to your
        watchlist.</li>
    <li>You can look at the current state of the cart or your watchlist by clicking on the respecive menu items in the
        top right.</li>
    <li>Once you're happy with whatever you have in the cart, you can make a hypothetical purchase, by viewing your cart
        (top right), and then click on "Hypothetical Purchase".</li>
    <li>You can view your previous hypothetical purchases, by clicking on "Hypothetical purchase history" in the top
        right menu.</li>
    <li><strong>Hint:</strong> Everything is happening in your browser, so nothing is stored permantly like purchases or
        carts or watchlists. So as soon as your session is over, or your browser clears cache or what not, everything
        gets deleted.</li>
</ul>